/************************** IMPORT VARIABLES **************************/
@use "variables" as *;

/************************** MEDIA QUERY STARTS HERE **************************/
@media only screen and (min-width: $break-point) {

    /************************** HAMBURGER **************************/
    .hamburger-button {
        display: none;
    }

    /************************** NAVIGATION **************************/

    // Show the nav links no matter what
    .site-nav,
    .site-nav.open {
        display: flex;
        padding-left: $gutter;
    }

    // Style the  Navigation links
    .site-nav li a {
        font-size: .7rem;
        border: none;
    }

} // end media query
